openapi: 3.0.0
info:
  title: 네이버 스마트스토어 API - Sotatek Test
  version: 1.0.0
  description: |
    ## 인증 정보
    - Application ID: 5TGnBVoGoWQgKYg6KrDcKW
    - Store: sotatek test
    - API 호출 IP: 162.120.185.40
    - 문서 작성일: 2025년 9월 19일

servers:
  - url: https://api.commerce.naver.com
    description: 네이버 커머스 API 서버

tags:
  - name: 인증
    description: OAuth 2.0 토큰 발급
  - name: 상품 관리
    description: 상품 조회, 등록, 수정
  - name: 주문 관리
    description: 주문 조회, 상태 변경, 취소

paths:
  # ===== 토큰 발급 (제일 먼저 실행!) =====
  /external/v1/oauth2/token:
    post:
      tags:
        - 인증
      summary: 🔑 Access Token 발급 (먼저 실행하세요!)
      description: |
        ## 이 API를 먼저 실행해야 다른 API 사용 가능!
        1. Try it out 클릭
        2. client_secret 입력 (팀 리더에게 문의)
        3. Execute 실행
        4. 응답에서 access_token 복사
        5. 다른 API의 Authorization 헤더에 "Bearer {토큰}" 형식으로 입력
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
                - type
              properties:
                client_id:
                  type: string
                  default: "5TGnBVoGoWQgKYg6KrDcKW"
                  description: 애플리케이션 ID
                client_secret:
                  type: string
                  example: "YOUR_SECRET_KEY_HERE"
                  description: 시크릿 키를 여기에 입력하세요
                grant_type:
                  type: string
                  default: "client_credentials"
                type:
                  type: string
                  default: "SELF"
                  enum: [SELF, SELLER]
      responses:
        200:
          description: 토큰 발급 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: 이 토큰을 복사해서 사용하세요
                  token_type:
                    type: string
                  expires_in:
                    type: integer
              example:
                access_token: "eyJ0eXAiOiJKV1QiLCJhbGc..."
                token_type: "Bearer"
                expires_in: 86400

  # ===== 상품 검색 및 등록 =====
  /v2/products:
    get:
      tags:
        - 상품 관리
      summary: 상품 목록 조회
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: "Bearer {토큰}"
      responses:
        200:
          description: 성공
    
    post:
      tags:
        - 상품 관리
      summary: 상품 등록
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: "Bearer {토큰}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "테스트 상품"
                salePrice:
                  type: integer
                  example: 10000
                stockQuantity:
                  type: integer
                  example: 100
      responses:
        201:
          description: 등록 성공

  # ===== 주문 조회 =====
  /v1/pay-order/seller/product-orders:
    get:
      tags:
        - 주문 관리
      summary: 주문 상품 목록 조회
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: "Bearer {토큰}"
        - name: lastChangedFrom
          in: query
          required: true
          schema:
            type: string
            example: "2025-09-01T00:00:00.000+09:00"
        - name: lastChangedTo
          in: query
          required: true
          schema:
            type: string
            example: "2025-09-19T23:59:59.999+09:00"
        - name: lastChangedType
          in: query
          required: true
          schema:
            type: string
            enum: [PAID_DATE, PRODUCT_ORDER_DATE]
            default: "PAID_DATE"
      responses:
        200:
          description: 조회 성공

  # ===== 발송 처리 =====
  /v1/pay-order/seller/product-orders/dispatch:
    post:
      tags:
        - 주문 관리
      summary: 발송 처리
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
            example: "Bearer {토큰}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productOrderIds:
                  type: array
                  items:
                    type: string
                  example: ["2025091912345678"]
                deliveryCompanyCode:
                  type: string
                  example: "CJGLS"
                trackingNumber:
                  type: string
                  example: "123456789012"
      responses:
        200:
          description: 발송 성공
